:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #0ae2ff;
  --color-primary-200: #51e6ff;
  --color-primary-300: #73e9ff;
  --color-primary-400: #8decff;
  --color-primary-500: #a3f0ff;
  --color-primary-600: #b7f3ff;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #0d0a0a;
  --color-surface-200: #242323;
  --color-surface-300: #3b3a3a;
  --color-surface-400: #545353;
  --color-surface-500: #6e6d6d;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #b7f3ff;
  background-color: #0d0a0a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
}
